.Rhistory
*.RData
*.aux
*cache
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.nb.html
*.html
*.htm
*.log
*.out
*.pdf
*.png
*.gds
*.pptx
*.ppt
*.Rproj
*.run.xml
*.rip
*.rdb
*.rdx
*.csv
*.lof
*.lot
*.toc
*.nav
*.snm
*.vrb
*.svg
*.css
*.js
*.sty
*.txt
*.tex
*.docx
*.doc
*.jpg
*.o*
*.xlsx
*.gz